:root {
  --color-text: #333333;
  --color-white: #FFFFFF;
  --color-accent: #8D86C9;
  --color-sub-accent: #F7ECE1;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../Poppins-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-ExtraBold.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.4;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font: inherit;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  font: inherit !important;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

.section {
  margin-bottom: 150px;
}

.links {
  display: flex;
  gap: 20px;
}

.menu__list {
  display: flex;
  gap: 40px;
}
.menu__item {
  color: var(--color-white);
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  text-decoration: none;
}
.menu__item::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}
.menu__item:hover::before {
  width: 100%;
  left: 0;
}
.menu__item--black {
  color: var(--color-text);
}
.menu__item--black::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}
.menu__item--black:hover::before {
  width: 100%;
  left: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.top__title {
  font-size: 36px;
  font-weight: 700;
}
.top__block-btn {
  display: flex;
  gap: 15px;
}
.top__button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-accent);
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}
.top__button:hover {
  background-color: #6759de;
}
.top__button:last-child {
  transform: rotate(180deg);
}

.smaller-container {
  margin: 0 auto;
  width: 1078px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 75px;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.header {
  padding: 35px;
  align-items: center;
  border-bottom: 1px solid var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-news {
  margin-bottom: 80px;
  align-items: center;
  background-image: url(../images/news-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.header-news__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header-news__inner {
  border-top: 1px solid rgb(255, 255, 255);
}
.header-news__title {
  align-items: center;
  padding: 30px 0 60px;
  font-size: 48px;
  font-weight: 700;
  color: var(--color-white);
}

.header-about {
  margin-bottom: 80px;
  align-items: center;
  background-image: url(../images/news-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.header-about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header-about__inner {
  border-top: 1px solid rgb(255, 255, 255);
}
.header-about__title {
  align-items: center;
  padding: 30px 0 60px;
  font-size: 48px;
  font-weight: 700;
  color: var(--color-white);
}

.main-section {
  padding-top: 305px;
  background-image: url(../images/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.watch {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 200px;
}
.watch__title {
  width: 636px;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  color: var(--color-white);
  margin-bottom: 60px;
}
.watch__block {
  display: flex;
  gap: 30px;
  align-items: center;
}
.watch__link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid;
  color: var(--color-white);
}
.watch__link-wrapper:hover {
  color: var(--color-accent);
}
.watch__link {
  display: flex;
  width: 64px;
  height: 64px;
  background-color: var(--color-accent);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: url(../images/tiangle.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}
.watch__link-wrapper:hover .watch__link {
  background-color: #6759de;
}
.watch__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}

.service {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
}
.service__item {
  padding: 40px 35px;
  background-color: var(--color-accent);
  position: relative;
}
.service__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 140%;
}
.service__main-title {
  display: inline;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  padding-right: 80px;
  line-height: 140%;
}
.service__main-title::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: 0;
  background-image: url(../images/window.svg);
}

.advantages-section {
  display: flex;
  justify-content: center;
}
.advantages-section__list {
  display: flex;
  gap: 24px;
}
.advantages-section__item {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid var(--color-sub-accent);
  padding: 20px;
}
.advantages-section__description {
  width: 100%;
  font-size: 27px;
  font-weight: 700;
  line-height: 140%;
  color: var(--color-white);
  text-align: center;
  bottom: 65px;
  left: 0px;
  position: absolute;
}

.description-section__about {
  display: flex;
  position: relative;
}
.description-section__content {
  width: 430px;
}
.description-section__img {
  width: 528px;
  height: 100%;
  position: absolute;
}
.description-section__block {
  position: relative;
  right: -41%;
  background-color: var(--color-sub-accent);
  padding: 70px 60px 84px 146px;
  z-index: -1;
}
.description-section__title {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 25px;
}
.description-section__text {
  margin-bottom: 35px;
}
.description-section__text-item {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.description-section__text-item:nth-of-type(1) {
  margin-bottom: 15px;
}
.description-section__subtitle {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 25px;
}
.description-section__item {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  padding-left: 31px;
  margin-bottom: 15px;
}
.description-section__item::before {
  content: "";
  background-image: url(../images/square.svg);
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 5px;
}

.trainers-section__card {
  display: flex;
  justify-content: space-between;
}
.trainers-section__item {
  width: 196px;
  text-align: center;
}
.trainers-section__img {
  margin-bottom: 25px;
  padding: 0 15px;
  border: 1px solid var(--color-sub-accent);
}
.trainers-section__title {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 600;
  min-height: 58px;
}
.trainers-section__text {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.offers-container {
  display: flex;
  justify-content: space-between;
}

.offers-section__price {
  display: flex;
  flex-direction: column;
}
.offers-section__blocks {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.offers-section__item {
  display: inline-block;
  width: 526px;
  padding: 16px 30px;
  text-align: start;
  font-size: 21px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-accent);
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: 466px;
  border: none;
}
.offers-section__item:hover {
  background-color: #6759de;
}
.offers-section__top {
  display: flex;
  justify-content: space-between;
}
.offers-section__block-btn {
  display: flex;
  gap: 15px;
}
.offers-section__button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-accent);
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}
.offers-section__button:hover {
  background-color: #6759de;
}
.offers-section__button:last-child {
  transform: rotate(180deg);
}
.offers-section__service {
  position: relative;
}
.offers-section__img {
  padding: 30px 25px;
  border: 1px solid var(--color-sub-accent);
  z-index: -1;
}
.offers-section__description {
  position: absolute;
  bottom: 60px;
  left: 65px;
  font-size: 27px;
  font-weight: 700;
  color: var(--color-white);
  z-index: 1;
}

.footer {
  background-color: var(--color-sub-accent);
  padding: 30px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__item--black {
  color: var(--color-text);
}

.photo-courts-section__image {
  padding: 25px 20px;
  border: 1px solid var(--color-sub-accent);
  position: relative;
}
.photo-courts-section__button {
  position: absolute;
  left: 90px;
  bottom: 75px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-accent);
}
.photo-courts-section__button:hover {
  background-color: #6759de;
}

.description-about-section__img {
  width: 528px;
  height: 514px;
  position: absolute;
  top: 70px;
}
.description-about-section__text-item {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}
.description-about-section__block {
  position: relative;
  right: -34%;
  background-color: var(--color-sub-accent);
  padding: 70px 60px 84px 146px;
  z-index: -1;
}
.description-about-section__content {
  width: 650px;
}
.description-about-section__menu {
  display: flex;
}
.description-about-section__item {
  display: flex;
  gap: 17px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  flex: 1;
}
.description-about-section__item:nth-of-type(2) {
  flex: 1.5;
}
.description-about-section__number {
  width: 35px;
  height: 45px;
}

.rules-section__inner {
  display: flex;
  gap: 75px;
}
.rules-section__aside {
  font-size: 21px;
  font-weight: 600;
}
.rules-section__list {
  width: 366px;
}
.rules-section__item {
  margin-bottom: 40px;
}
.rules-section__item:hover {
  position: relative;
  left: 30px;
  color: var(--color-accent);
  transition: left 30px 0.3s;
}
.rules-section__sub-list {
  margin-bottom: 40px;
}
.rules-section__sub-list p {
  margin-bottom: 25px;
}
.rules-section__sub-item {
  margin-bottom: 15px;
  padding-left: 30px;
  align-items: center;
  position: relative;
}
.rules-section__sub-item::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 3px;
  color: var(--color-accent);
  background-color: var(--color-accent);
  position: absolute;
  left: 0;
  top: 10px;
}

.news-top-section {
  background-image: url(../images/news-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 80px;
}
.news-top-section__title {
  align-items: center;
  padding: 166px 0 60px;
  font-size: 48px;
  font-weight: 700;
  color: var(--color-white);
}

.news-main-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.news-main-section__item {
  max-width: 416px;
  padding: 30px 40px;
  border: 1px solid var(--color-sub-accent);
}
.news-main-section__image {
  margin-bottom: 25px;
}
.news-main-section__bread-crumbs {
  font-size: 14px;
  font-weight: 400;
}
.news-main-section__description {
  height: 87px;
  margin: 15px 0 20px;
  font-size: 18px;
  font-weight: 600;
}
.news-main-section__button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-accent);
}
.news-main-section__button:hover {
  background-color: #6759de;
}/*# sourceMappingURL=index.css.map */